<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes; index as i"
   [class.selected]="hero === selectedHero"
   (click)="onSelect(hero)">
    <span class="badge">{{ hero.id }}</span> {{ hero.name }}
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | titlecase }} Details</h2>
  <div><span>id: </span>{{ selectedHero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name" />
    <!-- <input type="text" [value]="hero.name" (change)="nameChange" -->
  </div>
</div>

<!-- <p>{{ hero | json }}</p>
<p>Today is {{ today | date }}</p> -->
